<html>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>sneakersgallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body> 


<body> 

    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Menu Demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   <header>
        <a href="web.html" class="logo">KLT</a>
        <nav>
            <ul>

                <li><a href="web.html">Domu</a></li>
                <div class="dropdown">
                    <button class="dropbtn"><a href="Tenisky.html"> Tenisky</a></button>
                    <div class="dropdown-content">
                    <a href="Jordany.html">Jordan</a>
                    <a href="Dunk.html">Dunk</a>
                    <a href="Ostatní.html">Ostatní</a>
                    </div>
                  </div>
                <li><a href="Kontakty.html">Kontakty</a></li>
                <li><a href="O nás.html">O nás</a></li>
                <li><a href="Přihlásit se.html" class="cta">Přihlásit se</a></li>
            </ul>
        </nav>
    </header>
        <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

<div>
    <h1 class="onas">O nás</h1><br>
    <p class="v">Vítejte u KLT, vašeho průvodce světem tenisek a streetwearu!</p><br>
    <p class="c">Jsme váš spolehlivý partner v oblasti módy, který spojuje kvalitní obuv s nejnovějšími trendy a stylovými doplňky. <br>Od našeho založení jsme se zavázali k poskytování jedinečných a autentických produktů, které oslovují váš jedinečný styl.</p><br>
    <p class="c">Naše filozofie spočívá v tom, že obuv není jenom funkcí, ale způsobem vyjádření vaší osobnosti. <br> Proto pečlivě vybíráme každý kousek z naší nabídky, abychom zajistili, že každý zákazník najde to pravé pro sebe.</p><br>
    <p class="c">Náš tým vášnivých nadšenců pro módu je vždy připraven vám poskytnout prvotřídní služby a poradenství. <br> Nezáleží na tom, zda hledáte ikonické kousky od světově známých značek, nebo zásadní kousky od nových hráčů na trhu, SneakerGallery vám poskytne široký výběr možností.</p><br>
    <p class="c">Díky našim pečlivě vybraným kolekcím, nekompromisnímu přístupu k kvalitě a vášnivému přístupu k módnímu průmyslu jsme se stali oblíbenou destinací pro milovníky streetwearu a tenisek.</p><br>
    <p class="c">Připojte se k nám a prozkoumejte svět módy s KLT!</p>
</div>


<div class="centered-image">
    <img src="https://i.postimg.cc/1379w34h/pl.png" alt="Popis obrázku">
</div>


</body>
</html>

