<html>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>sneakersgallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>


<body>

    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Menu Demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
        <header>
        <a href="web.html" class="logo">KLT</a>
        <nav>
            <ul>

                <li><a href="web.html">Domu</a></li>
                <div class="dropdown">
                    <button class="dropbtn"><a href="Tenisky.html"> Tenisky</a></button>
                    <div class="dropdown-content">
                    <a href="Jordany.html">Jordan</a>
                    <a href="Dunk.html">Dunk</a>
                    <a href="Ostatní.html">Ostatní</a>
                    </div>
                  </div>
                <li><a href="Kontakty.html">Kontakty</a></li>
                <li><a href="O nás.html">O nás</a></li>
                <li><a href="Přihlásit se.html" class="cta">Přihlásit se</a></li>
                <li><a href="kosik.html"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </header>
</body>
</html>

   <link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

</div>


    <div class="container">
    <a class="prvnibota" href="./prvnibota.html">
        <div class="centered-image">
            <img class="image" src="https://raffle.ballzy.eu/storage/product_images/BQ6472_015_1.jpg" alt="Bota" />
        </div>
    </a>


    <div id="product">
        <h2>Produkt</h2>
        <p>Název produktu: Lorem ipsum</p>
        <p>Cena: $10</p>
        <button onclick="addToCart()">Přidat do košíku</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>


<script>
        function addToCart() {
            let productName = "Lorem ipsum";
            let price = 10;
            let imageUrl = "https://raffle.ballzy.eu/storage/product_images/BQ6472_015_1.jpg";

            let product = {
                name: productName,
                price: price,
                imageUrl: imageUrl
            };

            let cart = JSON.parse(localStorage.getItem("cart")) || [];

            cart.push(product);

            localStorage.setItem("cart", JSON.stringify(cart));

            alert("Produkt byl přidán do košíku!");
        }
    </script>
</div>

</body>
</html>
