<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Přihlášení</title>
</head>

<body>
    <h2>Přihlášení</h2>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form action="{{ url_for('zpracuj_prihlaseni') }}" method="post">
        <h2>Přihlášení</h2>
        <label for="username">Uživatelské jméno:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Heslo:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Přihlásit">
    </form>
</body>

</html>
