
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ucet.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>





   <header>
       <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <a href="web.html" class="logo">KLT</a>
        <nav>
            <ul>

                <li><a href="web.html">Domu</a></li>
                <div class="dropdown">
                    <button class="dropbtn"><a href="Tenisky.html"> Tenisky</a></button>
                    <div class="dropdown-content">
                    <a href="Jordany.html">Jordan</a>
                    <a href="Dunk.html">Dunk</a>
                    <a href="Ostatní.html">Ostatní</a>
                    </div>
                  </div>
                <li><a href="Kontakty.html">Kontakty</a></li>
                <li><a href="O nás.html">O nás</a></li>
                <li><a href="Přihlásit se.html" class="cta">Přihlásit se</a></li>
            </ul>
        </nav>
    </header>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">


</body>
</html>




<div class="centr">
    <h9 >Děkujeme, že jsi se přidal k Nám</h9>
    <br>
    <h10 style="color: {{ request.cookies.get('color', 'black') }};">Vaše uživatelské jmeno: {{username}} </h10>
        <br>

</div>
        <form method="POST">
            <label for="" id="tex" style="color: {{ request.cookies.get('color', 'black') }};">Vyber si barvičku:</label>
            <input type="color" name="color" id="color" required/><br />
            <input type="submit" value="Zpracuj">
    </form>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">


</body>
</html>
